/* Reset nhẹ */
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}

:root {
  --primary-color: #c9363f;
  --bg-color: #f6f6f6;
  --border-color: grey;
  --hsk1-color: #f8b521;
  --hsk2-color: #1994a4;
  --hsk3-color: #f36f27;
  --hsk4-color: #c12405;
  --hsk5-color: #1a3f76;
  --hsk6-color: #50365d;
}

.hsk1 {
  background-color: var(--hsk1-color);
}

.hsk2 {
  background-color: var(--hsk2-color);
}

.hsk3 {
  background-color: var(--hsk3-color);
}

.hsk4 {
  background-color: var(--hsk4-color);
}

.hsk5 {
  background-color: var(--hsk5-color);
}

.hsk6 {
  background-color: var(--hsk6-color);
}

.grow {
  flex-grow: 1;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans",
    sans-serif;
  line-height: 1.5;
  color: #111;
  background: var(--bg-color);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Layout cơ bản */
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.app-header .container {
  display: flex;
  justify-content: center;
}

.app-header {
  position: sticky;
  height: 80px;
  top: 0;
  backdrop-filter: saturate(1.2) blur(6px);
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #eee;
}

.brand {
  font-weight: 800;
  letter-spacing: 0.3px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.brand > img {
  height: 58px;
}

.brand-text {
  color: #c81a17;
  font-size: 21px;
}

.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 24px 0 56px;
}

.app-footer {
  border-top: 1px solid #bbb;
  padding: 24px 0 12px 0;
  color: #666;
  font-size: 14px;
  background: url(../assets/shan_xanh.png);
}

.footer-content > span {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0 4px;
}

/* Trang chủ */
.home-open {
  display: flex;
  gap: 8px;
  margin: 12px 0 8px;
}
.home-open input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.home-open button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f7f7f7;
  cursor: pointer;
}
.home-open button:hover {
  background: #eee;
}

/* Hanzi box */

.hanzi-canvas {
  margin-bottom: 22px;
  background-image: url(../assets/card_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hanzi-actions {
  display: flex;
  gap: 8px;
}

.hanzi-actions button {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f7f7f7;
  cursor: pointer;
}
.hanzi-actions button:hover {
  background: #eee;
}
